@using parcial1_hospitales.ViewModels;

@model HospitalViewModel;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="get" asp-action="Index">
    <input asp-for="filter"> </input>
    <button type="submit">Buscar</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.hospitals[0].name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hospitals[0].address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hospitals[0].Doctors)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.hospitals) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>                
                @foreach (var item2 in item.Doctors) {
                    @Html.DisplayFor(modelItem => item2.name)
                    <br/>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
