@model parcial1_hospitales.Models.Doctor

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
       body {
            font-family: Arial, sans-serif;
            background-color: #f7f9fc;
            margin: 0;
            padding: 20px;
        }

        h1 {
            color: #2779bd;
            margin-bottom: 20px;
        }

        .details-section {
            margin-bottom: 20px;
        }

        .details-section h2 {
            font-size: 1.2em;
            color: #333;
            margin-bottom: 10px;
        }

        .details-section p {
            margin: 0;
            color: #555;
        }

        .actions-section {
            margin-top: 20px;
        }

        .actions-section a {
            display: inline-block;
            margin-right: 10px;
            text-decoration: none;
            
        }

        .actions-section a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Detalles</h1>

    <div>
        <h4>Doctor</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Nombre
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                Edad
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Age)
            </dd>
            <dt class="col-sm-2">
                Esta disponible?
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsAvailable)
            </dd>
            <dt class="col-sm-2">
                Especialidad
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Specialty)
            </dd>
            <dt class="col-sm-2">
                Hospital
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Hospital.Name)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" class="btn btn-primary btn-sm" asp-route-id="@Model?.Id">Editar</a>
        <a asp-action="Index" class="btn btn-secondary btn-sm">Volver</a>
    </div>
</body>
</html>