@using parcial1_hospitales.ViewModels;
@model DoctorViewModel;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method="get" asp-action="Index">
    <input asp-for="filter"> </input>
    <br>
    <label for="checkbox">Buscar por disponibles:</label>
    <input asp-for="isAvailable" type="checkbox">
    <br>
    <button type="submit">Buscar</button>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.doctors[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.doctors[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.doctors[0].IsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.doctors[0].Specialty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.doctors[0].Hospital)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.doctors) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hospital.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
