@using parcial1_hospitales.ViewModels;
@model DoctorViewModel;

@{
    ViewData["Title"] = "Index";
}

<div style="background-color:rgba(200,200,200,0.85)">

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="get" asp-action="Index">
    <input asp-for="filter"> </input>
    <br>
    <label for="checkbox">Buscar por disponibles:</label>
    <input asp-for="isAvailable" type="checkbox">
    <br>
    <button type="submit">Buscar</button>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.doctors[0].name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.doctors[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.doctors[0].isAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.doctors[0].specialty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.doctors[0].hospital)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.doctors) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.specialty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hospital.id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

</div>