@using parcial1_hospitales.ViewModels;

@model AppointmentViewModel

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f7f9fc;
        }

        h1 {
            color: #2779bd;
        }

        form {
            margin-bottom: 20px;
        }

        input[type="text"],
        input[type="checkbox"],
        button {
            padding: 8px;
            font-size: 14px;
            border-radius: 4px;
            border: 1px solid #b6d4f2;
            margin-bottom: 10px;
            background-color: #fff;
        }

        label {
            margin-right: 10px;
        }

        table {
            width: 100%;
            background-color: #fff;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #dcecff;
        }

        th {
            
            font-weight: bold;
            color: #2779bd;
        }

        a {
            text-decoration: none;
            color: #2779bd;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Citas registradas</h1>
    <br>
    <form method="get" asp-action="Index">
        <label for="filter">Filtra por descripción:</label>
        <input asp-for="filter" type="text">
        <br>
        <button type="submit">Buscar</button>
    </form>

    <form method="get" asp-action="DeleteAllPatientAppointments">
        <button type="submit">Borrar todas las citas de un paciente</button>
    </form>

    <p>
        <a asp-action="Create">Agrega una nueva cita</a>
    </p>

    <table>
        <thead>
            <tr>
                <th>descripción</th>
                <th>Doctor</th>
                <th>Paciente</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.appointments)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.Doctor.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Patient.Name)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
