@using parcial1_hospitales.ViewModels;

@model AppointmentViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method="get" asp-action="Index">
    <input asp-for="filter"> </input>
    <br>
    <label for="checkbox">Buscar por descripcion:</label>
    <br>
    <button type="submit">Buscar</button>
</form>


<form method="get" asp-action="DeleteAllPatientAppointments">
    <button type="submit">Borrar todas las citas de un paciente</button>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.appointments[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.appointments[0].Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.appointments[0].Patient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.appointments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
